
<div class="container">
  <div class="row col-xs-12 content">
    <h2>About Us</h2>
    <p>As a netflix user, are you tired of spending time trying to look for something good to watch? Would you like to know what are the latest and highest rated shows and movies available? We think this website is just what you need.</p>

    <p>We use an open database themoviedb.com and list out the highest rated and most popular content available on netflix. The videos are available in Hong Kong where we are based and we are looking to extend our coverage to other countries. Thank you and we hope you can save time using our service.</p>

    <!-- <p>Credits: themoviedb.com</p> -->
    <div>Credits: themoviedb.com | Icons made by <a href="https://www.flaticon.com/authors/twitter" title="Twitter">Twitter</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
    <br>
    <%= link_to "Back", :root %>
  </div>
</div>
