.row-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  .card-wrapper {
    background-color: white;
    padding: 14px;
    margin: 8px 0;
    width: 360px;
    height: 310px;
    border: solid 1px #C4C4C4;
    box-shadow: 2px 2px 1px #C4C4C4;
    opacity: 1.0;
    h2 {
      font-size: 24px;
      margin: 12px 0 14px 4px;
      font-weight: bold;
    }
    h3 {
      font-size: 16px;
      margin: 10px 0;
      font-weight: bold;
    }
    p {
      font-size: 14px;
    }
  }
}

.card-top {
  display: flex;
}

.card-title {
  flex: 1 1 auto;
  margin-left: 10px;
  margin-right: 20px;
  width: 300px;
}

.card-ranking {
    width: 60px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid;
    border-color: #767676;
    font-size: 23px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    // color: #253031;
}

.card-body {
  display: flex;
}

.card-image {
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 27px;
  width: 150px;
  flex: 1 1 auto;
}

.card-info {
  flex: 1 1 auto;
  margin-right: 10px;
  // width: 150px;
  h3 {
    font-weight: bold;
    font-size: 23px;
    margin-top: 0;
  }
  p {
  // font-weight: lighter;
  // color: #999999;
  margin-bottom: 0;
  }
}

.fa-star {
  color: #F4BF61;
}

.fa-level-up {
  color: #767676;
}
