/* We just give you the arrow CSS code */
.product-arrow {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid transparent;
  border-bottom: 9px solid black;
  border-radius: 2px;
  margin: auto;
}

.product {
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 3px;
    transition: all 0.15s ease;
    margin: 10px 0;
    width: 1000px;
}

.product-upvote {
    padding-right: 20px;
    text-align: center;
    transition: all 0.15s ease;
    font-weight: bold;
    font-size: 13px;
    line-height: 20px;
}

.product-count {
    margin: 2px 0 0;
    font-size: 23px;
}

.product-image {
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 27px;
    width: 150px;
    flex: 1 1 auto;
}

.title {
  flex: 1 1 auto;
  margin-left: 10px;
  margin-right: 20px;
  width: 300px;
}

.product-body {
    flex: 1 1 auto;
    margin-right: 10px;
    // width: 150px;
}

.product-body h3 {
    font-weight: bold;
    font-size: 23px;
    margin-top: 0;
}

.product-body p {
    // font-weight: lighter;
    // color: #999999;
    margin-bottom: 0;
}

.list-inline {
    list-style: none;
}

.list-inline li {
    display: inline-block;
}

.product-controls a {
    padding: 0 20px;
    font-size: 17px;
    color: #E6E6E6;
}

.product-controls {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 0px;
}
