/*// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";*/

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
/*@import "layouts/index";*/
@import "components/index";
/*@import "pages/index";*/
/*@import "spaces/index";*/
/*@import "users/index";*/
/*@import "conversations/index";
@import "devise/index";
@import "skills/new";
@import "user_reviews/index";
*/

// Override bootstrap width setting
/*@media (min-width: 1200px) {
  .container {
    width: 1250px;
  }
}*/

body {
  margin: 0;
  font-family: Open-sans, sans-serif;
  background-color: #F4F4F4;
  font-family: Avenir, Helvetica, sans-serif;
}
h1, h2, h3 {
  font-family: Avenir, Helvetica, sans-serif;
}
a {
  text-decoration: none;
}
.index-wrapper {
  padding: 5px;
}
.container {
  max-width: 1250px;
  margin: auto;
  padding: 0px;
}
.index-header {
  max-width: 1250px;
  margin-left: 3px;
  padding: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  h1 {
    margin: 10px -10px;
  }
  form {
    margin-top: 5px;
    // margin-right: 9px;
    select {
      height: 39px;
      background-color: transparent;
      border-radius: 1px;
    }
    input {
      /*width: 100px;*/
      width: 70px;
      height: 39px;
      border-radius: 3px;
      color: white;
      margin-top: -1px;
      // background-color: transparent;
      &:hover {
        transition: 0.3s;
      }
    }
  }
}

.drop-down {
  // border: 0 !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url('drop-down-arrow.png')  no-repeat;
  background-size: 10px 10px;
  width: 100px;
  padding-left: 5px;
  background-position: 83px 15px;
  margin-bottom: 10px;
}

.filter {
  margin-left: 0px;
}

.content {
  margin-left: 5px;
  margin-right: 5px;
}
